
body{
    background-image: url(background1.png);
    background-size: cover;
    background-position: center;
}

p{
    margin: 0;
}


#txt7tr{
    font-size: 150px;
    color: #de9837de;
    font-family: "Frijole", system-ui;
    font-weight: 400;
    font-style: normal;
}

#go_button{
    background-color: #de9837de;
    color: #f3e9d2;
    font-size: medium;
    height: 25px;
    border: 0;
    border-radius: 12px;
    width: 60px;
    position: relative;
    bottom: 25px;
}


#headerz{
    display: flex;
    justify-content: space-between;
    height: 14vh;
}

#lefthead{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

#righthead{
    display: flex;
    justify-content: space-around;
    width: 100px;
}

#main{
    text-align: center;
    align-content: center;
    height: 69vh;
}

footer{
    display: flex;
    justify-content: space-between;
    height: 14vh;
}

@media (max-width: 820px) {
        #txt7tr{
            font-size: 50px;
        }

        #go_button{
            bottom: 0;
        }
}
